@import 'variables.scss';
@import 'container.scss';
@import 'button.scss';
@import 'typography.scss';
@import 'dropdown.scss';
@import 'header.scss';
@import 'body.scss';
@import 'menu.scss';
@import 'user-actions.scss';
@import 'breadcrumb.scss';
@import 'preview.scss';
@import 'solutions.scss';
@import 'advantages.scss';
@import 'about-products.scss';
@import 'application.scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: $color-background-primary;
}
input,
input:focus {
  border: none;
  outline: none;
  margin: 0;
}
