.title-page {
  margin-top: 157px;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  color: $color-default-primary;
}
.title-section {
  color: $color-default-primary;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
}
.subtitle-section {
  font-size: 24px;
  color: #1c1c1e;
  line-height: 32px;
}
.subtitle2-section {
  font-size: 32px;
  color: #111827;
  line-height: 40px;
}
